
body {
    font-family: "Poppins", sans-serif !important;
   
}



.input-card {    
border-radius: 10px;
background: #002855;
box-shadow: inset 7px 7px 14px #001630,
inset -7px -7px 14px #003a7a;
}

.print-button,
.download-button {
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}


.label{
    background-color: #003a7a;
    color: #ffffff;
    padding: 5px;
    border: 1px solid aliceblue;
}
footer{
    color: aliceblue;
    background-color: #292D3E;
}
.color-1{
    color: aliceblue;
    background-color: #003a7a;
}
.form-control{
    color: #000;
   
}
#images{
    align-items: center;
    max-width: 100%;
    height: auto;
}
#income-input{
    color: #000;
    font-weight: 700;
}
#item-input-1 {
    color: #000;
    font-weight: 700;
}
 #item-input-2{
    color: #000;
    font-weight: 700;
}
 #item-input-3{
    color: #000;
    font-weight: 700;
}
#calculate-btn{
text-align: center;
}